#properties {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 260px;
    z-index: 10;
    border-left: 1px solid #ccc;
    overflow: auto;
  }
  .djs-palette .entry, .djs-palette .djs-palette-toggle {
    width: 46px;
    height: 46px;
    line-height: 46px;
    cursor: default;
}
.djs-palette .entry {
    float: left;
}
.djs-palette .entry, .djs-palette .djs-palette-toggle {
    color: #333;
    font-size: 30px;
    text-align: center;
}
  