<div class="main-content">
  <div class="container-fluid">
    <div class="col-md-12 col-lg-10 col-xxxl-6">
      <div class="card">
        <div class="card-header card-header-danger">
                    Workflow List
        </div>
        <div class="card-body">

          <mat-list class="col-lg-12" role="list">
            <mat-list-item role="listitem" *ngFor="let workflow of workflows">
              <div class="row col-lg-10">
                <span class="col-lg-2 mt-3">{{ workflow.id }}</span>
                <span class="col-lg-5 mr-3 mt-3">{{ workflow.name }}</span>

                <button mat-raised-button class="btn btn-danger col-lg-4" (click)="onEdit(workflow)">
                  <i class="fa fa-edit"> Edit</i>
                </button>
              </div>
            </mat-list-item>
            </mat-list>
          <div class="col-md-6">
            <button mat-raised-button class="btn btn-danger" (click)="addWorkflow()">
              <i class="fa fa-plus"></i> Add Workflow
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>